h1 {
	text-align: center;
}

table, td, th {
	border:1px solid green;
}

th {
	background: green;/*Fondo berdea*/
	color: white/*letra-kolore zuria*/
}

.proba {background: LightGray;/*Fondo gris argia*/}
.tableErdiratuta {width: 90%; margin: 5%/*zabalera %90, marginak %5*/}
.tdErdiratuta {text-align: center;/*testua erdiratuta*/}
.borderIkustezina {border: hidden;/*ertzik gabe*/}

.gorria {color: darkred; font-weight: bold;}
.laranja {color: orange; font-weight: bold;}
.berdea {color: green; font-weight: bold;}

