#body {
    background-color: white;
    }
#menu {
    background-color: #707070;
    padding: 1px;
    border-radius: 0px;
    text-align: center;
    justify-content: center;
    }
input {
    display: flex;
    margin: 10px 0;
    padding: 1px;
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 0px;
    cursor: pointer;
    width: 650px;
    height: 35px;
    margin: 0 auto;
    padding: 5px;
    display: table-cell;
    vertical-align: middle;
    /* font-weight: bold; */
    font-size: 55px;
    font-size: 1rem;
    font-family: "Source Sans Pro", sans-serif;
    color: #222222;
    }
input:hover {
    background-color: #707070;
    }
img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 5%;
    padding: 0px;
    vertical-align: middle;
    }
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
        }  
br {
    height: 5.1; /* reduce el espaciado entre las líneas de texto a la mitad */
    }  
table {
    border-collapse: collapse;
    border: 0.7px solid gray;
    background-color: #707070;
    width: 650px;
    /* height: 130px; */
    }

td {
    padding: 0.5px;
    background-color: #707070;
    }