#body {
    background-color: white;
    }
#menu {
    background-color: #707070;
    padding: 1px;
    border-radius: 0px;
    text-align: center;
    justify-content: center;
    }
.menuNagusirakoBotoia{
	
	background-color: #707070; /* color de fondo */
	border: none; /* quitar borde */
	border-radius: 1px; /* redondear bordes */
	cursor: pointer; /* cursor con forma de mano */
	/* font-size: 16px; */ /* tamaño de la fuente */
	width: 100px;
	height: 25px;
	float: right; /* alinear a la derecha */
  	margin-right: 20px; /* margen derecho para separar del borde */
  	text-align: center;
  	font-size: 10px;
  	padding: 0px;
  	all: initial;
}
.menuNagusirakoBotoia:hover{
	background-color: #ffffff; 
	border: 1px solid #707070;
	padding: 0px;
}
.menuNagusirakoBotoiaInput{
	all: initial;
	background-color: #707070;
	margin: 2 auto; 
  	color: white;
  	padding: 0px;
  	width: 100px;
	height: 25px;	
	font-family: "Source Sans Pro", sans-serif;
	float: right; /* alinear a la derecha */
  	margin-right: 20px; /* margen derecho para separar del borde */
  	text-align: center;
}
.menuNagusirakoBotoiaInput:hover{
	background-color: inherit;	
	color: black;
	border: 1px solid #707070;
}
form {
    display: flex;
    margin: 10px 0;
    padding: 1px;
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 0px;
    cursor: pointer;
    width: 610px;
    height: 35px;
    margin: 0 auto;
    padding: 5px;
    display: table-cell;
    vertical-align: middle;
    /* font-weight: bold; */
    font-size: 55px;
    font-size: 1rem;
    font-family: "Source Sans Pro", sans-serif;
    color: #222222;
    }
a {
    display: flex;
    margin: 10px 0;
    padding: 1px;
    border: none;
    background-color: none;
    color: rgb(0, 0, 0);
    border-radius: 0px;
    cursor: pointer;
    width: 610px;
    height: 35px;
    margin: 0 auto;
    padding: 5px;
    display: table-cell;
    vertical-align: middle;
    /* font-weight: bold; */
    font-size: 55px;
    font-size: 1rem;
    font-family: "Source Sans Pro", sans-serif;
    color: #222222;
    }
.formularioa{
	width: auto;
    height: auto;
}
.formularioa:hover {
    background-color: white;
    }
  input {
    display: flex;
    margin: 10px 0;
    padding: 1px;
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 0px;
    cursor: pointer;
    width: 96%;
    height: 35px;
    margin: 0 auto;
    padding: 5px;
    display: table-cell;
    vertical-align: middle;
    /* font-weight: bold; */
    font-size: 55px;
    font-size: 1rem;
    font-family: "Source Sans Pro", sans-serif;
    color: #222222;
    }
form:hover {
    background-color: #707070;
    }
.ekintza{
	width: 98%;
    height: 45px;
    }
.lista{
	width: 200px;
    height: 35px;
}
img {
    width: 30px;
    /* height: 30px; */
    margin-right: 10px;
    border-radius: 5%;
    padding: 0px;
    vertical-align: middle;
    }
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    text-align: center;
        }  
br {
    height: 5.1; /* reduce el espaciado entre las líneas de texto a la mitad */
    }  
table {
    border-collapse: collapse;
    border: 0.7px solid gray;
    border-spacing: 0.7px;
    background-color: #707070;
    /* width: 650px; */
    /* height: 130px; */
    }

td {
    padding: 0.5px;
    width: 500px;
    background-color: #707070;
    }
th {
    padding: 0.5px;
    background-color: #707070;
    width: 200px;
    }