#body {
    background-color: white;
    }
form, h1, h2 {
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 0px;
    cursor: pointer;
    height: 35px;
    margin: 0 auto;
    padding: 5px;
    display: table-cell;
    vertical-align: middle;
    /* font-weight: bold; */
    font-size: 1rem;
    font-family: "Source Sans Pro", sans-serif;
    color: #222222;
    }
.menuNagusirakoBotoia{
	
	cursor: pointer; /* cursor con forma de mano */
	/* font-size: 16px; */ /* tamaño de la fuente */
	width: 100px;
	height: 25px;
	float: right; /* alinear a la derecha */
  	margin-right: 20px; /* margen derecho para separar del borde */
  	text-align: center;
  	font-size: 10px;
}
.menuNagusirakoBotoiaInput{
	/* width: 100px;
	height: 30px; */
	background-color: #707070; /* color de fondo */
	border: none; /* quitar borde */
	border-radius: 1px; /* redondear bordes */
	display: inline-block; /* convertir en elemento en línea */
  	margin: 0 auto; 
  	color: white;
  	float: right; /* alinear a la derecha */
  	margin-right: 20px; /* margen derecho para separar del borde */
	
}
.menuNagusirakoBotoiaInput:hover{
	background-color: inherit;	
	color: black;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    text-align: center;
        } 
 .container > div {
  flex-basis: 500px;
}
  input{
    display: flex;
    margin: 10px 0;
    padding: 1px;
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 0px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 5px;
    display: table-cell;
    vertical-align: middle;
    /* font-weight: bold; */
    font-size: 55px;
    font-size: 1rem;
    font-family: "Source Sans Pro", sans-serif;
    color: #222222;
    }
input:hover {
    background-color: #707070;
    }
table {
    border-collapse: collapse;
    border: 0.7px solid gray;
    border-spacing: 0.7px;
    background-color: #707070;
    /* width: 650px; */
    /* height: 130px; */
    font-size: 55px;
    font-size: 1rem;
    font-family: "Source Sans Pro", sans-serif;
    color: #222222;
    text-align: center;
    align-content: center;
    margin: 0 auto; /* Establecer margen izquierdo y derecho automáticos */
     width: 50%; /* Establecer ancho de la tabla */
    }

td {
    padding: 0.5px;
    width: 300px;
    background-color: #ffffff;
    
    }
th {
    padding: 0.5px;
    background-color: #707070;
    width: 200px;
    color: white;
    }